---
layout: default
title: Blog
---

<h1>Blog Posts</h1>
<p>My coding adventures with Android ROMs, PlayStation 2, PlayStation 3, and PSP development.</p>

{% if site.posts.size > 0 %}
  {% for post in site.posts %}
    <article style="margin-bottom: 2em; padding-bottom: 1em; border-bottom: 1px solid #ccc;">
      <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
      <p><em>{{ post.date | date: "%B %d, %Y" }}</em> | {{ post.category }}</p>
      <p>{{ post.excerpt | strip_html }}</p>
      <a href="{{ post.url | relative_url }}" class="btn">Read More</a>
    </article>
  {% endfor %}
{% else %}
  <p>No blog posts yet. Check back soon!</p>
{% endif %}